@import '../style/variables.scss';

.wrapper {
    background: url(./bg.webp);
    min-height: 100vh;
    background-repeat: repeat;
}

section {
    padding: 20px 0;

    .headerText {
        margin-top: 0;
        font-weight: 700;
        margin-bottom: 78px;
    }
}

@media (min-width: 768px) {
    section {
        padding: 40px 0;
    }
}

@media (min-width: 992px) {
    section {
        flex-grow: 1;
    }
}

#jokesList,
#likedJokesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
