
$white: #fff;
$text: #333;
$text_lite: #ABABAB;

$heart: #FF6767;
$link: #8EA7FF;

$backdrop_bg: rgba(0, 0, 0, 0.30);
$lite_bg: #F8F8F8;

$box_shad: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);


$br: 10px;


// button
$btn-brgrad: 10px;
$btn-lh: 137%;
$btn-fs: 16px;
$btn-fw: 700;
$button_bg: linear-gradient(91deg, #8EA7FF 0%, #7291FF 100%);
$button_bg-focus: linear-gradient(91deg, #5f84ff 0%, #2747b9 100%);
$button_bg-active: linear-gradient(91deg, #4a70fa 0%, #2546c0 100%);


//Animation
$icons: all 300ms ease-in-out;